
/*** header ***/

/* header */
header {
  .Container{
    h1{
      position: fixed;
      top: 40px;
      left: 40px;
      z-index: 200;
      font: {
        size: 20px;
        weight: 900;
      }
      letter-spacing: 7px;
      @media (max-width: 768px) {
        top: 20px;
        left: 20px;
        font-size: 15px;
      }
    }
  }
}
.nav{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 200;
  @media (max-width: 768px) {
    top: 5px;
    right: 10px;
  }
}
/* nav Btn */
.navBtn{
  position: relative;
  display: inline-block;
  background: $main-color;
  padding: 22px 19.5px;
  border-radius: 50px;
  transition: .25s;
  margin: 12.5px;
  z-index: 200;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  cursor: url(../img/pointer2.png) 2 2,auto;
  span {
    display: block;
    background: #000000;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    transition: 0.25s margin 0.25s, 0.25s transform;
  }
  :nth-child(1){
    margin-bottom: 3px;
  }
  :nth-child(3){
    margin-top: 3px;
  }
  @media (max-width: 768px) {
    padding: 18px 15.5px;
    span {
      width: 18px;
      height: 3px;
      border-radius: 3px;
      transition: 0.25s margin 0.25s, 0.25s transform;
    }
    :nth-child(1){
      margin-bottom: 2px;
    }
    :nth-child(3){
      margin-top: 2px;
    }
  }
}
.navBtn.active {
  padding: 37px 30px;
  margin:0;
  z-index: 200;
  span {
  transition: 0.25s margin, 0.25s transform 0.25s;
  }
  :nth-child(1){
    margin-top: 2px;
    margin-bottom: -3px;
    transform: rotate(45deg);
  }
  :nth-child(2){
    transform: rotate(45deg);
  }
  :nth-child(3){
    margin-top: -3px;
    transform: rotate(135deg);
  }
  @media (max-width: 768px){
    padding: 33px 26px;
  }
}
/* nav Menu */
.navContainer {
  display: none;
  position:absolute;
  top: 8px;
  right: 0px;
  width: 80px;
  height: 400px;
  padding-top: 80px;
  border-radius: 50px;
  background: rgba(255,255,255, .8);
  z-index: 100;
  font: {
    size: 12px;
    weight: 700;
  }
  letter-spacing: 1.3px;
  a {
    display: block;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover span{
      margin-bottom: 3px;
      background: $main-color;
    }
  }
  @media (max-width: 768px) {
    width: 70px;
    height: 400px;
    font-size: 11px;
    z-index: 150;
    top: 0;
    right: 0;
    a{
      width: 72px;
      height: 70px;
    }
  }
}

/*** main ***/



@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid #777; }
}



main {
  width: 100%;
  height: 100%;
}
#title {
  position: relative;
  background: #ffffff;
  width: 100%;
  height: 100vh;  
  .titleContainer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
    // overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .titleWrap{
      width: 60%;
      margin: 0 auto;
      text-align: center;      
      h1 {
        font: {
          size: 20px;
          weight: 600;
        }
        margin: 20px 0;
      }
      h2 {
        position: relative;
        font: {
          size: 60px;
          weight: 900;
        }
        .mimoticon{
          width: 180px;
          position: absolute;
          top: -80px;
          opacity: 0;
          transition: .3s;
          @media (max-width: 994px) {
            width: 130px;
            top: -60px;
          }
          @media (max-width: 768px) {
            opacity: 1;
            top: 60px;
            left: 50%;
            transform: translate(-50%);
            animation: swing768 3s linear infinite alternate;
          }
        }
        .mimoHeart{
          width: 80px;
          position: absolute;
          top: -60px;
          margin-left: 130px;
          opacity: 0;
          transition: .3s;
          @media (max-width: 994px) {
            width: 60px;
            top: -50px;
            margin-left: 93px;
          }
          @media (max-width: 768px) {
            opacity: 1;
            top: 70px;
            width: 50px;
            left: 47%;
            transform: translate(-50%);
            margin-left: 60px;
            animation: heart 1s linear infinite;
          }
        }
      }
      p {
        margin: 50px 0;
        line-height: 23px;
        font-size: 16px;
        overflow-wrap: break-word;
        span{
          transition: .3s;
          font-size: 18px;
          font-weight: 700;
        }
      }
      .subText {
        font-size: 18px;
        font-weight: 600;
      }
    }
    .scroll {
      position: absolute;
      bottom: 5%;
      width: 100%;
      text-align: center;
      font-weight: 700;
      z-index: 55;
      animation: scrollUpDown 1s linear infinite alternate;
      font-size: 12px;
      &::after{
        position: absolute;
        display: block;
        content: "";
        width: 1px;
        height: 50px;
        background: #000000;
        left: 50%;
        top: -60px;
      }
    }
  }
  &:hover .titleContainer .titleWrap .mimoticon{
    opacity: 1;
    animation: swing 3s linear infinite alternate;
    @media (max-width: 768px) {
      animation: swing768 3s linear infinite alternate;
    }
  }
  &:hover .titleContainer .titleWrap .mimoHeart{
    opacity: 1;
    animation: heart 1s linear infinite;
  }
  &:hover .titleWrap p span {
    background: $main-color;
  }
  @media (max-width: 994px) {
    .titleContainer {
      .titleWrap {
        width: 80%;
        h1 {
          font-size: 20px;
        }
        h2 {
          font-size: 50px;
        }
        .mainText {
          font-size: 15px;
          line-height: 20px;
        }
        .subText {
          font-size: 16px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .titleContainer {
      .titleWrap {
        width: 100%;
        h1 {
          font-size: 15px;
          margin: 5px 0;
        }
        h2 {
          font-size: 30px;
        }
        .mainText {
          margin: 180px 30px 0 30px;
          font-size: 13px;
          line-height: 20px;
        }
        .subText {
          font-size: 15px;
        }
      }
    }
  }
}
.plane {
  width: 150px;
  position: absolute;
  bottom: 20%;
  right: 18%;
  z-index: 55;
  transition: 0.3s;
  img {
    transform: scaleX(-1);
  }
  @media (max-width: 994px) {
    width: 120px;
    right: 10%;
  }
  @media (max-width: 768px) {
    width: 80px;
    bottom: 25%;
  }
}
.cloudBg{
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* 구름 배경 */
  .mainBack {
    width: 100%;
    span{
      display: inline-block;
      img {
        width: 100%;
      }
      &:nth-child(1){
        width: 400px;
        position: absolute;
        top: 70px;
        left: -5%;
        animation: cloud1 10s linear infinite alternate;
        @media (max-width: 994px) {
          width: 300px;
          left: 0%;
          top: 100px;
        }
      }
      &:nth-child(2) {
        width: 350px;
        position: absolute;
        top: 30px;
        left: 40%;
        animation: cloud2 10s linear infinite alternate;
        @media (max-width: 994px) {
          width: 200px;
          top: 50px;
          left: 40%;
        }
      }
      &:nth-child(3) {
        width: 500px;
        position: absolute;
        top: 30px;
        left: 90%;
        animation: cloud3 10s linear infinite alternate;
        @media (max-width: 994px) {
          width: 400px;
          top: 130px;
          left: 95%;
        }
      }
      &:nth-child(4) {
        width: 480px;
        position: absolute;
        bottom: 100px;
        left: 10%;
        animation: cloud2 10s linear infinite alternate;
        @media (max-width: 994px) {
          width: 300px;
          bottom: 80px;
          left: 10%;
        }
      }
      &:nth-child(5) {
        width: 400px;
        position: absolute;
        bottom: 0;
        left: 40%;
        animation: cloud3 10s linear infinite alternate;
        @media (max-width: 994px) {
          width: 270px;
          bottom: 0px;
          left: 60%;
        }
      }
      &:nth-child(6) {
        width: 450px;
        position: absolute;
        bottom: 60px;
        left: 100%;
        animation: cloud4 10s linear infinite alternate;
        @media (max-width: 994px) {
          width: 200px;
          bottom: 130px;
          left: 100%;
        }
      }
      &:nth-child(7) {
        width: 300px;
        position: absolute;
        bottom: 250px;
        left: 65%;
        animation: cloud1 10s linear infinite alternate;
        @media (max-width: 994px) {
          width: 170px;
          bottom: 400px;
          left: 45%;
        }
      }
    }
    &::before{
      position: absolute;
      display: block;
      content: "";
      width: 100vw;
      height: 100vh;
      background: rgba(255,255,255, .5);
      z-index: 50;
    }
  }
}

/** section 1 aboutme **/
#aboutMe {
  width: 100%;
  .aboutWrap {
    @include section-bg;
    padding: 50px 0 100px 0;
    h1 {
      @include title-css;
    }
    .aboutBox{
      display: flex;
      justify-content: center;
      align-items: center;
      .profile {
        position: relative;
        text-align: center;
        margin: 0 50px;
        h2 {
          font: {
            size: 25px;
            weight: 900;
          }
          margin: 50px 0 10px 0;
          transition: .3s;
        }
        p {
          font-size: 18px;
        }
        .profileImg {
          width: 500px;
          background: url(../img/skybg.jpg) center / cover;
          border-radius: 50%;
          box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
        }
      }
      .profileInfo{
        margin: 0 50px;
        ul {
          li {
            display: flex;
            margin: 50px 0;
            strong{
              font-size: 20px;
              width: 45%;
              transition: .3s;
            }
            p{
              width: 55%;
              line-height: 30px;
              transition: .3s;
            }
          }
        }
      }
    }
    @media (max-width: 994px) {
      .aboutBox {
        padding: 0px 0;
        .profile {
          margin: 0 15px 0 10px;
          h2 {
            font: {
              size: 22px;
            }
          }
          p {
            font-size: 18px;
            line-height: 25px;
          }
          .profileImg {
            width: 350px;
            padding: 30px;
          }
        }
        .profileInfo {
          margin: 0 10px 0 15px;
          ul {
            li{
              margin: 50px 0;
                strong {
                  font-size: 20px;
                }
                p {
                  font-size: 16px;
                  line-height: 20px;
                }
            }
          }
        }
      }
    }
    @media (max-width: 768px) {
      padding: 0 10px 50px 10px;
      .aboutBox {
        flex-direction: column;
        padding: 0;
        .profile {
          h2 {
            font: {
              size: 20px;
            }
          }
          p {
            font-size: 14px;
          }
          .profileImg {
            width: 250px;
            padding: 10px;
          }
        }
        .profileInfo {
          margin: 0 10px 0 15px;
          ul {
            li{
              margin: 30px 0;
                strong {
                  font-size: 18px;
                }
                p {
                  font-size: 14px;
                }
            }
          }
        }
      }
    }
  }
}
.profilePlane {
  span{
    display: inline-block;
    &:nth-child(1){
      position: absolute;
      width: 200px;
      bottom: 5%;
      left: 20%;
      animation: plane1 2s linear infinite ;
    }
    &:nth-child(2){
      position: absolute;
      width: 130px;
      bottom: 35%;
      left: 70%;
      animation: plane2 2s linear infinite;
      animation-delay: 1s;
      transform: rotate(-10deg);
      opacity: 0;
    }
    &:nth-child(3){
      position: absolute;
      width: 90px;
      bottom: 60%;
      left: 90%;
      animation: plane3 2s linear infinite;
      animation-delay: 1.5s;
      transform: rotate(10deg);
      opacity: 0;
    }
    @media (max-width: 994px) {
      &:nth-child(1){
        width: 45%;
        bottom: 8%;
        left: 20%;
      }
      &:nth-child(2){
        width: 30%;
        bottom: 35%;
        left: 65%;
      }
      &:nth-child(3){
        width: 18%;
        bottom: 60%;
        left: 85%;
      }
    }
    @media (max-width: 768px) {
      &:nth-child(1){
        width: 38%;
        bottom: 10%;
        left: 20%;
      }
      &:nth-child(2){
        width: 25%;
        bottom: 35%;
        left: 65%;
      }
      &:nth-child(3){
        width: 18%;
        bottom: 60%;
        left: 85%;
      }
    }
  }
}

/* Section 2 skills */


#skills {
  padding-bottom: 100px;
  transition: .3s;
  background: #f2f3f5;
  @media (max-width: 994px) {
    padding-bottom: 100px;
  }
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
  h1{
    @include title-css;
  }
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.content {
  width: 100%;
  min-width: 260px;
  margin: 0 10%;
  margin-top: 5%;
  transition: 0.3s ease;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  @media screen and (max-width: 512px) {
    margin: 0 5%;
    margin-top: 5%;
  }
}

/* Tabs menu */
.tabs {
  margin: 0;
  background-image: linear-gradient(135deg, #fff892 0%, $main-color 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-radius: 2px 2px 0px 0px;
  @media screen and (max-width: 512px) {
    height: 40px;
  }
}

/* Tab Links */

.tablinks {
  background: transparent;
  background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
  border: none;
  outline: none;
  cursor: url(../img/pointer2.png) 2 2,auto;
  width: 25%; /*change depending on the number of tabs*/
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  overflow: hidden;
  transition: 0.3s ease;

  @media screen and (max-width: 512px) {
    height: 40px;
    font-size: 12px;
  }
}

.tablinks:before /* Gradient */ {
  background-image: linear-gradient(135deg, #fff892 0%, $main-color 100%);
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  z-index: 2;
}
/*tab buttons hover*/
.tablinks:hover::before {
  height: 100%;
  z-index: 2;
  bottom: 0;
  
  @media screen and (max-width: 512px) {
    height: 0;
  }
}

/* Tab active */
.tablinks.active {
  background-color: white;
  z-index: 0;
  border-right: 0px;
  border-left: 0px;
  height: 110px;
  bottom: 0px;
  overflow: hidden;
  
  @media screen and (max-width: 512px) {
    height: 60px;
  }
}

.tablinks.active:before /* Gradient */ {
  content: "";
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}

/* Tabs text */

.tablinks.active p,
.tablinks.active:hover p {
  opacity: 1;
  -webkit-text-fill-color: #000000;
}

.tablinks p {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.5s ease;
  padding: 0;
  margin: 0;
  color: #000000;
  backface-visibility: hidden;
  font-weight: 700;
}

/* Tabs text bigger */

.tablinks p:before {
  content: attr(data-title);
  position: absolute;
  height: auto;
  width: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.1;
  font-size: 40px;
  transition: 1s ease-out;
  z-index: -1;
  font-weight: 600;
  top: 110%;
  
  @media screen and (max-width: 512px) {
    display: none;
  }
}

.tablinks:hover p:before {
  opacity: 0.1;
  font-size: 40px;
  top: -80%;
}


/* tab content */

.wrapper_tabcontent {
  background-color: white;
  margin-top: 0px;
  z-index: 3;
  position: relative;
  opacity: 1;
  padding: 40px 60px;
  overflow: hidden;
  transition: all 1s ease;
  top: 0;
  @media screen and (max-width: 768px) {
    padding: 30px 40px;
  }
}

.tabcontent {
  display: none;
  min-height: 180px;
  
}

@keyframes tabEffect {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}

.tabcontent.active {

  transition: all 1s ease;
  display: block;
}

/* Tab content line */
.wrapper_tabcontent:after {
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(135deg, #fff892 0%, $main-color 100%);
  left: 0;
  bottom: 0;
  z-index: -2;
  transition: all 1s ease;
}

/* Text*/
.tabcontent h3 {
  img {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
    border-radius: 4px;
  }
  padding-bottom: 10px;
  span {
    margin-left: 10px;
  }
  @media screen and (max-width: 768px) {
    font-size: 15px;
    line-height: 26px;
  }
}
.tabcontent p {
  color: #000000;
  margin: 0;
  padding-bottom: 20px;
  line-height: 28px;
  font-weight: 100;
  transition: all 1s ease;
  animation: fadeEffect 0.6s ease;
  width: 100%;
  font-size: 16px;
  @media screen and (max-width: 768px) {
    font-size: 13px;
    line-height: 24px;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
    margin-left: 30px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}


/* section 3 project */
#project {
  @include section-bg;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;
  h1 {
    @include title-css;
  }

  nav {
    margin-bottom: 100px;
    .btns {
      display: flex;
      justify-content: center;
      border: 2px solid $main-color;
      border-radius: 50px;
      box-shadow: 0 0 20px rgb(0 0 0 / 20%);
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      li {
        
        a {
          display: inline-block;
          padding: 12px 30px;
          border-radius: 50px;
          color: #999997;
          font-size: 15px;
          font-weight: 700;
          transition: .3s;
          
        }
      }
      .on {
        a {
          color: #000000;
          background: linear-gradient(135deg, #fff892 0%, #fff000 100%);
        }
      }
    }
    @media (max-width: 994px) {
      margin-bottom: 60px;
      .btns{
        li {
          a {
            padding: 11px 23px;
            font-size: 14px;
          }
        }
      }
    }
    @media (max-width: 768px) {
      .btns{
        li {
          a {
            padding: 9px 14px;
            font-size: 11px;
          }
        }
      }
    }
  }
  .projectItem {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    article {
      width: calc(100% / 3);
      padding: 14px;
      cursor: url(../img/pointer2.png) 2 2,auto;
      .imgBox {
        position: relative;
        width: 100%;
        height: 400px;
        box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
        background: #e1e1e4;
        img {
          width: 100%;
          transition: .3s;
          height: 100%;
          object-fit: contain;
        }
      }
      &:hover .detail{
        opacity: 1;
      }
      &:hover .title{
        transform: translateY(0px);
      }
      &:hover .type {
        transform: translateY(0px);
      }
      &:hover img {
        transform: scale(0.95);
      }
      &:nth-child(2) .imgBox{
        padding: 30px;
      }
      &:nth-child(11) .imgBox{
        padding: 30px;
      }
    }
  }
  @media (max-width: 1400px) {
    .projectItem{
      width: 90%;
      article {
        width: 50%;
      }
    }
  }
  @media (max-width: 768px) {
    .projectItem{
      width: 90%;
      article {
        width: 100%;
        padding: 7px;
        div {
          height: 100%;
        }
      }
    }
  }
}
.detail{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s;
  .title {
    color: #fff;
    font-size: 15px;
    transform: translateY(70px); /* 숫자가 클수록 밑에서부터 올라옴 */
    transition: .5s;
    strong {
      display: inline-block;
      font-size: 30px;
      margin-top: 10px;
      line-height: 1;
    }
  }
  .type {
    color: rgba(255,255,255,.8);
    margin-top: 50px;
    font-size: 13px;
    font-weight: 800;
    position: relative;
    transform: translateY(20px);
    transition: .7s;
    color: $main-color;
  }
}


/* section 4 contact */

#contact {
  position: relative;
  background: $main-color;
  width: 100%;
  .contactWrap {
    width: 60%;
    margin: 0 auto;
    padding: 80px 0;
    position: relative;
    z-index: 55;
    transition: .3s;
    text-align: center;
    h1 {
      @include title-css;
      padding: 30px 0 80px 0;
    }
    .contactTitle {
      br {
        display: none;
      }
      font: {
        size: 20px;
        weight: 700;
      }
      margin-bottom: 30px;
    }
    .contactText {
      margin: 0 70px;
      transition: .3s;
      line-height: 25px;
      font: {
        size: 14px;
        weight: 700; 
      }
    }
    .contactBox {
      text-align: center;
      margin-top: 50px;
      a {
        display: inline-block;
        margin: 0 10px;
        padding: 15px 35px;
        border-radius: 50px;
        border: none;
        background: #ffffff;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        transition: .3s;
        font: {
          size: 14px;
          weight: 700;
        }
        &:hover {
          background: #000000;
          color: #ffffff;
        }
      }
    }
    .mContactBox{
      display: none;
      transition: .3s;
    }
    .thanks {
      margin-top: 100px;
      text-align: center;
      transition: .3s;
      font: {
        size: 30px;
        weight: 900;
      }
    }
    @media (max-width: 768px) {
      padding: 50px 0;
    }
  }
  @media (max-width: 994px) {
    .contactWrap {
      width: 70%;
      .contactTitle {
        br {
          display: none;
        }
        font: {
          size: 15px;
        }
      }
      .contactText {
        font-size : 14px;
      }
      .contactBox {
        a {
          padding: 13px 25px;
        }
      }
      .thanks {
        font-size: 25px;
      }
    }
  }
  @media (max-width: 768px) {
    .contactWrap {
      width: 85%;
      .contactTitle {
        br {
          display: block;
        }
        font: {
          size: 14px;
        }
        margin-bottom: 20px;
        line-height: 25px;
      }
      .contactText {
        font-size : 12px;
        margin: 0 0;
      }
      .contactBox{
        display: none;
      }
      .mContactBox{
        display: block;
        text-align: center;
        margin-top: 50px;
        a {
          display: inline-block;
          margin: 0 10px;
          border: none;
          background: #ffffff;
          width: 60px;
          height: 60px;
          padding: 18px;
          border-radius: 50px;
          box-shadow: 0 0 20px rgba(0,0,0,0.2);
          cursor: url(../img/pointer2.png) 2 2,auto;
          img {
            width: 100%;
          }
          &:hover {
            background: #000000;
            img {
              filter: brightness(0) invert(1);;
            }
          }
        }
      }
      .thanks {
        font-size: 25px;  
        margin-top: 50px;     
      }
    }
  }
}

.contactBg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* 구름 배경 */
  .contactBack {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    span{
      position: absolute;
      display: inline-block;
      transition: .3s;
      img {
        width: 100%;
      }
      &:nth-child(1) {
        width: 400px;
        top: 60px;
        left: -5%;
      }
      &:nth-child(2) {
        width: 350px;
        top: 0px;
        left: 30%;
      }
      &:nth-child(3) {
        width: 400px;
        top: -30px;
        left: 80%;
      }
      &:nth-child(4) {
        width: 450px;
        bottom: -50px;
        left: 12%;
      }
      &:nth-child(5) {
        width: 450px;
        bottom: -20px;
        left: 70%;
      }
      &:nth-child(6) {
        width: 500px;
        bottom: 100px;
        animation: contactCloud1 4s infinite;
      }
      &:nth-child(7) {
        width: 300px;
        bottom: 230px;
        left: 70%;
        animation: contactCloud2 4.1s infinite;
      }
      @media (max-width: 994px) {
        &:nth-child(1) {
          width: 300px;
          top: 50px;
          left: -5%;
        }
        &:nth-child(2) {
          width: 300px;
          top: -20px;
          left: 30%;
        }
        &:nth-child(3) {
          width: 300px;
          top: 20px;
          left: 80%;
        }
        &:nth-child(4) {
          width: 350px;
          bottom: -40px;
          left: 0%;
        }
        &:nth-child(5) {
          width: 350px;
          bottom: 20px;
          left: 70%;
        }
        &:nth-child(6) {
          width: 400px;
          bottom: 100px;
          left: -10%;
          animation: contactCloud1 4s infinite;
        }
        &:nth-child(7) {
          width: 300px;
          bottom: 150px;
          left: 70%;
          animation: contactCloud2 4.1s infinite;
        }
      }
      @media (max-width: 768px) {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          width: 250px;
          top: -20px;
          left: 20%;
        }
        &:nth-child(3) {
          width: 250px;
          top: 80px;
          left: 80%;
        }
        &:nth-child(4) {
          width: 250px;
          bottom: 100px;
          left: -10%;
        }
        &:nth-child(5) {
          width: 240px;
          bottom: -20px;
          left: 50%;
        }
        &:nth-child(6) {
          display: none;
        }
        &:nth-child(7) {
          display: none;
        }
      }
    }
  }
}

/****** footer*****/ 
#footer {
  padding: 0 40px;
  background: #ffffff;
  .footerContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footerlogo{
      h1 {
        font: {
          size: 18px;
          weight: 900;
        }
        &:hover {
          background: $main-color;
        }
      }
      p {
        font-size: 11px;
      }
    }
  }
  .sns {
    display: flex;
    align-items: center;
    p {
      font: {
        size: 15px;
        weight: 900;
      }
    }
    a{
    display: inline-block;
    border-radius: 50px;
    padding: 10px;
    margin-left: 2px;
    transition: .3s;
    img {
      width: 25px;
    }
    &:hover {
      background: $main-color;
    }
    }
  }
  @media (max-width: 768px) {
    padding: 0 20px;
    .footerContainer{
      .footerlogo {
        h1 {
          font-size: 14px;
        }
        p {
          font-size: 9px;
        }
      }
    }
    .sns {
      p {
        font-size: 12px;
      }
      a {
        width: 40px;
        height: 40px;
        padding: 5px;
      }
    }
  }
}




.topBtn {
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 100;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  cursor: url(../img/pointer2.png) 2 2,auto;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  opacity: 0;
  img {
    width: 20px;
    height: 20px;
  }
}

.topBtnActive {
  bottom: 120px;
  transition: 0.4s;
  opacity: 0;
}

