.pro1subWrap {
  padding: 100px 0;
  text-align: center;
  h3 {
    margin-bottom: 30px;
    text-align: center;
    font: {
      size: 30px;
      weight: 900;
    }
  }
  .fileDown {
    position: relative;
    z-index: 10;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 90%;
      border: 5px solid $main-color;
      z-index: -10;
    }
    @media (max-width:768px) {
      font-size: 12px;
    }
  }
  @media (max-width: 768px) {
    padding: 50px 0;
    h3 {
      font-size: 16px;
    }
  }
}
#subProjectDetail {
  .prototype {
    line-height: 20px;
    .subWrap {
      text-align: center;
      display: block;
      h3{
        width: 100%;
        font-size: 30px;
        font-weight: 900;
      }
      a {
        display: block;
        span {
          position: relative;
          z-index: 10;
          &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 90%;
            border: 5px solid $main-color;
            z-index: -10;
          }
        }
      }
    }
    @media (max-width: 768px)   {
      .subWrap{
        h3 {
          font-size: 16px;
          width: 100%;
        }
        a{
          span {
            line-height: 18px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #222222;
  @media (max-width: 1400px) {
    display: none;
  }
}

.swiper-pagination {
  --swiper-theme-color: #222222;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 5%;
}



#wireframeWrap {
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  ul {
    display: flex;
    li {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
    }
  }
}
#reportWrap {
  margin: 20px auto 0 auto;
  max-width: 1000px;
  overflow: hidden;
  ul {
    display: flex;
    li {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
    }
  }
}

