@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-black";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html, body {
  cursor: url(../img/pointer.png) 2 2, auto;
}

a, select {
  cursor: url(../img/pointer2.png) 2 2, auto;
}

* {
  font-family: "Archivo", "Pretendard-bold", inherit sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main, section, aside, article, footer, nav, menu, details, figure, figcaption {
  display: block;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  vertical-align: middle; /* 이미지끼리 나란히 정렬할 때 발생되는 틈을 없애 줌 */
  max-width: 100%;
}

.subHeaderContainer h1 {
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 200;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 7px;
}
@media (max-width: 768px) {
  .subHeaderContainer h1 {
    left: 20px;
    font-size: 15px;
  }
}

.subNav {
  position: fixed;
  top: 10px;
  right: 30px;
  z-index: 200;
}
@media (max-width: 768px) {
  .subNav {
    top: 5px;
    right: 10px;
  }
}

/* nav Btn */
.subNavBtn {
  position: relative;
  display: inline-block;
  background: #fff000;
  padding: 22px 19.5px;
  border-radius: 50px;
  transition: 0.25s;
  margin: 12.5px;
  z-index: 200;
  cursor: url(../img/pointer2.png) 2 2, auto;
}
.subNavBtn span {
  display: block;
  background: #000000;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  transition: 0.25s margin 0.25s, 0.25s transform;
}
.subNavBtn :nth-child(1) {
  margin-bottom: 3px;
}
.subNavBtn :nth-child(3) {
  margin-top: 3px;
}
@media (max-width: 768px) {
  .subNavBtn {
    padding: 18px 15.5px;
  }
  .subNavBtn span {
    width: 18px;
    height: 3px;
    border-radius: 3px;
    transition: 0.25s margin 0.25s, 0.25s transform;
  }
  .subNavBtn :nth-child(1) {
    margin-bottom: 2px;
  }
  .subNavBtn :nth-child(3) {
    margin-top: 2px;
  }
}

.subNavBtn.active {
  padding: 37px 30px;
  margin: 0;
  z-index: 200;
}
.subNavBtn.active span {
  transition: 0.25s margin, 0.25s transform 0.25s;
}
.subNavBtn.active :nth-child(1) {
  margin-top: 2px;
  margin-bottom: -3px;
  transform: rotate(45deg);
}
.subNavBtn.active :nth-child(2) {
  transform: rotate(45deg);
}
.subNavBtn.active :nth-child(3) {
  margin-top: -3px;
  transform: rotate(135deg);
}
@media (max-width: 768px) {
  .subNavBtn.active {
    padding: 33px 26px;
  }
}

/* nav Menu */
.subNavContainer {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 400px;
  padding-top: 80px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 100;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.3px;
}
.subNavContainer a {
  display: block;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subNavContainer a:hover span {
  margin-bottom: 3px;
  background: #fff000;
}
@media (max-width: 768px) {
  .subNavContainer {
    width: 70px;
    height: 400px;
    font-size: 11px;
    z-index: 150;
    top: 0;
    right: 0;
  }
  .subNavContainer a {
    width: 72px;
    height: 70px;
  }
}

.subDetail {
  background: #F2F3F5;
}

.back {
  display: block;
  position: fixed;
  top: 50px;
  left: 40px;
  padding: 10px 30px 10px 0;
  z-index: 150;
  font-size: 13px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .back {
    top: 40px;
    left: 20px;
    font-size: 11px;
  }
}

/* Inner */
.subTitleInner {
  margin: 250px 15%;
  position: relative;
}
@media (max-width: 994px) {
  .subTitleInner {
    margin: 200px 10%;
  }
}
@media (max-width: 768px) {
  .subTitleInner {
    margin: 150px 5%;
  }
}

.subInner {
  margin: 0 15%;
  position: relative;
}
@media (max-width: 994px) {
  .subInner {
    margin: 0 10%;
  }
}
@media (max-width: 768px) {
  .subInner {
    margin: 0 5%;
  }
}

.subContainer {
  display: flex;
  justify-content: space-between;
}
.subContainer .projectTitle {
  width: 30%;
}
.subContainer .projectTitle h1 {
  position: absolute;
  top: 0;
  font-size: 50px;
  font-weight: 900;
  transition: 0.3s;
}
@media (max-width: 994px) {
  .subContainer .projectTitle h1 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .subContainer .projectTitle h1 {
    font-size: 20px;
  }
}
.subContainer .projectTitle .viewWrap {
  display: flex;
  margin-top: 200px;
}
.subContainer .projectTitle .viewWrap a {
  letter-spacing: 1px;
  margin-right: 10px;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #fff892 0%, #fff000 100%);
  cursor: url(../img/pointer2.png) 2 2, auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 15px;
}
.subContainer .projectTitle .viewWrap a:hover {
  background: #fff000;
}
.subContainer .projectTitle .viewWrap a:nth-child(2) {
  background: linear-gradient(135deg, #ffffff 0%, #f5f6f9 100%);
  margin-right: 0;
}
.subContainer .projectTitle .viewWrap a:nth-child(2):hover {
  background: #ffffff;
}
@media (max-width: 768px) {
  .subContainer .projectTitle .viewWrap {
    flex-direction: column;
  }
  .subContainer .projectTitle .viewWrap a {
    margin-top: 10px;
    font-size: 12px;
  }
}
.subContainer .projectDetail {
  width: 60%;
  letter-spacing: 1px;
}
.subContainer .projectDetail strong {
  font-family: "Pretendard-bold";
  font-size: 18px;
}
@media (max-width: 994px) {
  .subContainer .projectDetail strong {
    font-size: 15px;
  }
}
@media (max-width: 774px) {
  .subContainer .projectDetail strong {
    font-size: 14px;
  }
}
.subContainer .projectDetail p {
  font-family: "Pretendard-Regular";
  line-height: 25px;
}
@media (max-width: 994px) {
  .subContainer .projectDetail p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .subContainer .projectDetail p {
    font-size: 13px;
  }
}
.subContainer .projectDetail .projectSkills {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .subContainer .projectDetail .projectSkills {
    margin-top: 30px;
  }
}
.subContainer .projectDetail .projectSkills ul {
  font-family: "Pretendard-Regular";
  width: 80%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 994px) {
  .subContainer .projectDetail .projectSkills ul {
    width: 90%;
  }
  .subContainer .projectDetail .projectSkills ul span {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .subContainer .projectDetail .projectSkills ul {
    width: 100%;
    flex-wrap: wrap;
  }
}
.subContainer .projectDetail .projectSkills ul li {
  width: 50%;
  line-height: 25px;
}
@media (max-width: 768px) {
  .subContainer .projectDetail .projectSkills ul li {
    margin-top: 10px;
    line-height: 18px;
  }
  .subContainer .projectDetail .projectSkills ul li p {
    font-size: 13px;
  }
  .subContainer .projectDetail .projectSkills ul li span {
    font-size: 12px;
  }
}
.subContainer .projectDetail .projectSkills ul li p {
  font-weight: 800;
}
.subContainer .projectDetail .projectSkills ul li span {
  font-family: "Pretendard-Regular";
  display: block;
}

/* Detail */
#subProjectDetail .imgBox img {
  margin-bottom: 100px;
  width: 100%;
}
#subProjectDetail .subText .subWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
#subProjectDetail .subText .subWrap h3 {
  width: 200px;
  font-size: 30px;
  font-weight: 900;
}
#subProjectDetail .subText .subWrap .subTextDetail {
  width: 80%;
}
#subProjectDetail .subText .subWrap p {
  font-family: "Pretendard-Light";
  width: 80%;
  line-height: 25px;
}
#subProjectDetail .subText .subWrap p strong {
  transition: 0.3s;
}
#subProjectDetail .subText .subWrap p:hover strong {
  background: #fff000;
}
@media (max-width: 768px) {
  #subProjectDetail .subText .subWrap {
    height: 200px;
  }
  #subProjectDetail .subText .subWrap h3 {
    font-size: 16px;
    width: 120px;
  }
  #subProjectDetail .subText .subWrap p {
    line-height: 18px;
    font-size: 12px;
  }
}
#subProjectDetail .subText:nth-child(2) {
  width: 100%;
  background: #f7f7f7;
}
#subProjectDetail .subText:nth-child(4) {
  width: 100%;
  background: #f7f7f7;
}

.pro1subWrap {
  padding: 100px 0;
  text-align: center;
}
.pro1subWrap h3 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
.pro1subWrap .reportDown {
  transition: 0.2s;
}
.pro1subWrap .reportDown:hover {
  background: #fff000;
  font-weight: 700;
}
@media (max-width: 768px) {
  .pro1subWrap .reportDown {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .pro1subWrap {
    padding: 50px 0;
  }
  .pro1subWrap h3 {
    font-size: 16px;
  }
}

#subProjectDetail .prototype {
  background: #F2F3F5;
  height: 300px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#subProjectDetail .prototype .subWrap {
  text-align: center;
}
#subProjectDetail .prototype .subWrap h3 {
  width: 100%;
  font-size: 30px;
  font-weight: 900;
}
#subProjectDetail .prototype .subWrap a {
  display: block;
  padding-top: 20px;
}
#subProjectDetail .prototype .subWrap a span {
  transition: 0.2s;
}
#subProjectDetail .prototype .subWrap a span:hover {
  background: #fff000;
  font-weight: 700;
}
@media (max-width: 768px) {
  #subProjectDetail .prototype {
    height: 200px;
  }
  #subProjectDetail .prototype .subWrap h3 {
    font-size: 16px;
    width: 100%;
  }
  #subProjectDetail .prototype .subWrap a span {
    line-height: 18px;
    font-size: 12px;
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #222222;
}
@media (max-width: 1400px) {
  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}

.swiper-pagination {
  --swiper-theme-color: #222222;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 5%;
}

#wireframeWrap {
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
}
#wireframeWrap ul {
  display: flex;
}
#wireframeWrap ul li {
  width: 100%;
  height: 100%;
}
#wireframeWrap ul li img {
  width: 100%;
}

#reportWrap {
  margin: 20px auto 0 auto;
  max-width: 1000px;
  overflow: hidden;
}
#reportWrap ul {
  display: flex;
}
#reportWrap ul li {
  width: 100%;
  height: 100%;
}
#reportWrap ul li img {
  width: 100%;
}

/* fortfolio */
.port {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.portContainer h3 {
  padding-top: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
@media (max-width: 768px) {
  .portContainer h3 {
    padding-top: 30px;
    font-size: 16px;
  }
}

.portPc {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .portPc {
    padding: 20px 0 50px 0;
  }
}
.portPc p {
  text-align: start;
  margin: 20px 0 50px 0;
  font-weight: 600;
}
@media (max-width: 768px) {
  .portPc p {
    font-size: 13px;
  }
}
.portPc .imac {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.portPc .imac img {
  width: 100%;
}

#portPcWrap {
  margin: 20px auto 0 auto;
  width: 68%;
  height: 550px;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}
@media (max-width: 994px) {
  #portPcWrap {
    height: 470px;
  }
}
@media (max-width: 774px) {
  #portPcWrap {
    margin: 5px auto 0 auto;
    height: 290px;
  }
}
#portPcWrap ul {
  display: flex;
}
#portPcWrap ul li {
  width: 100%;
  height: 100%;
}
#portPcWrap ul li img {
  width: 100%;
}

.portM {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .portM {
    padding: 20px 0 50px 0;
  }
}
.portM p {
  text-align: start;
  margin: 20px 0 50px 0;
  font-weight: 600;
}
@media (max-width: 768px) {
  .portM p {
    font-size: 13px;
  }
}
.portM .iphone {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
}
.portM .iphone img {
  width: 100%;
  overflow: hidden;
}

#portMWrap {
  margin: 10px auto 50px auto;
  width: 90%;
  height: 500px;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}
@media (max-width: 774px) {
  #portMWrap {
    margin: 5px auto 0 auto;
  }
}
#portMWrap ul {
  display: flex;
}
#portMWrap ul li {
  width: 100%;
  height: 100%;
}
#portMWrap ul li img {
  width: 100%;
}

/* davich */
.davichframe ul {
  display: flex;
  justify-content: center;
}
.davichframe ul li {
  margin-right: 30px;
}
.davichframe ul li p {
  margin: 20px 0;
  font-weight: 600;
}
@media (max-width: 768px) {
  .davichframe ul li p {
    font-size: 13px;
  }
}
.davichframe ul li img {
  width: 100%;
}
.davichframe ul li:nth-child(3) {
  margin-right: 0;
}

/* urban */
.subContainer .projectTitle .urbanTitle {
  font-size: 40px;
}
@media (max-width: 994px) {
  .subContainer .projectTitle .urbanTitle {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .subContainer .projectTitle .urbanTitle {
    font-size: 20px;
  }
}/*# sourceMappingURL=sub.css.map */